<%- include('includes/head'); %>


<section class="container">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet</p>
    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>User</label>
      <input type="text" name="user">
      <button type="submit" class="submitbtn">Send</button>
    </form>
</section>

<%- include('includes/footer'); %>