:root {
    --primary-color: #EEE2DC;
    --secondary-color: #123C69;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color)
}

.container {
    max-width: 800px;
    margin: 60px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 200px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.233)

}

.container h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.3em;
    line-height: 1.5em;
    text-align: center;
    color: var(--secondary-color)
}

.container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
}

form input, form label, form button {
    display: block;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

form input {
   
    font-size: 24px;
    height: 35px;
    border-radius: 5px;
}

form input:focus{
    outline: 2px solid var(--secondary-color);
}

form button {
    margin-top: 30px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 300;
    height: 50px;
    border-radius: 5px;
}

form button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--secondary-color);
}

.output-cpf {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-align: center;
    border-radius: 1px;
    margin-bottom: 40px;
    letter-spacing: 3px;
}