<%- include('includes/head'); %>


<section class="container">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet</p>
    <form action="">
      <label for="input-test-1">User</label>
      <input type="text" id="input-test-1">
    </form>
</section>

<%- include('includes/footer'); %>